<div class="pagination-container">
  <div class="lg-device">
		<%= paginate @influenced_titles, window: 4, remote: true, params: { title_category: "pg_influenceds", sort: @sort, sort_by_genre: @sort_by_genre, sort_by_tag: @sort_by_tag, from: @selected_min_year, to: @selected_max_year } %>
  </div>
  <div class="sm-device">
		<%= paginate @influenced_titles, window: 1, remote: true, params: { title_category: "pg_influenceds", sort: @sort, sort_by_genre: @sort_by_genre, sort_by_tag: @sort_by_tag, from: @selected_min_year, to: @selected_max_year } %>
  </div>
</div>